--find-links=https://download.pytorch.org/whl/torch_stable.html
setuptools==59.5.0
numpy==1.26.4
Pillow==9.5.0
torch==1.10.0+cu102
torchvision==0.11.0+cu102
pytorch-lightning==1.9.5
lightning-bolts
matplotlib
pandas
einops
scipy
miniball
tensorboard
torch-tb-profiler
scikit-learn